POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=eventbooking
JWT_KEY=your_long_random_secret_here
JWT_ISSUER=EventBooking
JWT_AUDIENCE=EventBookingClients
RABBITMQ_USER=your_rabbitmq_username_here
RABBITMQ_PASSWORD=your_rabbitmq_password_here